.menu .label{
    -fx-text-fill: #C5C8C6;
}
.menu-item .label{
    -fx-text-fill: #1D1F21;

}

.menu-bar{
    -fx-background-color: #44474A;
}

.hbox, .gridpane{
    -fx-background-color: #44474A;
}

.tableLabel{
    -fx-background-color: #707880;
    -fx-text-fill: #C5C8C6;
    -fx-border-radius: 25 25 0 0;

}

.paragraph-box{
    -fx-background-color: #C5C8C6;

}

.codeArea{
    -fx-text-fill: #C5C8C6;

}

.tabla{
    -fx-background-color: #2B2B2B;
}
/*
.table-row-cell:odd{
    -fx-background-color: #707880;
    -fx-text-fill: #C5C8C6;
}

.table-row-cell:even{
    -fx-text-fill: #C5C8C6;

}*/
.table-view:focused{
    -fx-background-color: transparent;
}
.terminal .content{
    -fx-background-color: #2B2B2B;
   -fx-border-color: #2B2B2B;
}

.text-area{
    -fx-text-fill:#C5C8C6 ;
}

.gridpane{

}

.vbox{
    -fx-background-color: #44474A;
    -fx-border-color: #44474A;
}

#nextLine{
    -fx-background-image: url("icons_images/play.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-color: #44474A;
}

#restart{
    -fx-background-image: url("icons_images/stop.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
    -fx-background-color: #44474A;

}


.keyword {
    -fx-fill: #ad5e24;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: #F0C674;
}

.comment {
    -fx-fill: cadetblue;
}

.nothing{
    -fx-fill: white;
    -fx-text-fill: white;
}

.paragraph-box:has-caret {
    -fx-background-color: #707880;
}